name: codestyle

on:
  pull_request:
    paths:
      - '*.py'

jobs:
  autoblack:
    runs-on: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
      - uses: actions/checkout@v2
      - uses: psf/black@stable
  flake8_py3:
    runs-on: [ ubuntu-latest, windows-latest, macos-latest ]
    needs: [ autoblack ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 --ignore=E501,F841,E203,W503,W504 .
